[Unit]
Description=内閣府が提供しているデータを取得し日本の休日をRedisに保存する
After=network.target

[Service]
ExecStart=
User=
Group=
Restart=on-failure

[Install]
WantedBy=multi-user.target
